@font-face {
  font-family: Aller;
  src: local("Aller"), url("../fonts/Aller_Lt.ttf"); }

@font-face {
  font-family: Myriad Pro;
  src: local("Myriad Pro"), url("../fonts/MyriadPro-Regular.otf");
  src: local("Myriad Pro"), url("../fonts/MyriadPro-It.otf");
  src: local("Myriad Pro"), url("../fonts/MyriadPro-BoldIt.otf");
  src: local("Myriad Pro"), url("../fonts/MyriadPro-BoldCondIt.otf");
  src: local("Myriad Pro"), url("../fonts/MyriadPro-Bold.otf");
  src: local("Myriad Pro"), url("../fonts/MyriadPro-BoldCond.otf");
  src: local("Myriad Pro"), url("../fonts/MyriadPro-SemiboldIt.otf");
  src: local("Myriad Pro"), url("../fonts/MyriadPro-Semibold.otf"); }

.index-page {
  background-color: #ebe7df;
  margin: 0;
  height: 100%;
  padding: 0; }

.wrapper {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 15px; }

/**LOGIN POPUP**/
.login-popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 777;
  overflow: hidden; }
  .login-popup:after {
    position: fixed;
    width: 100%;
    height: 100%;
    content: '';
    overflow: hidden;
    display: block;
    background-color: rgba(0, 0, 0, 0.8); }

.login-popup-active {
  display: block; }

.login {
  position: absolute;
  background-color: #232323;
  z-index: 888;
  width: 300px;
  height: 220px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 15px 20px 15px 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .login__close {
    float: right;
    height: 20px;
    width: 20px;
    background-color: gray;
    text-align: center;
    cursor: pointer; }
    .login__close .fa-window-close {
      font-size: 18px; }
  .login__form {
    margin-top: 40px; }
  .login__input {
    background-color: peachpuff;
    border: none;
    padding: 10px 15px;
    margin: 4px 0;
    font-size: 15px; }
    .login__input:focus {
      outline: none; }
  .login__button {
    margin-top: 15px;
    background-color: gray;
    border: none;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    padding: 7px 10px;
    cursor: pointer;
    font-size: 16px;
    outline: none; }

.headline {
  height: 47px;
  background-color: #242424; }

.headline__main {
  height: 47px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.headline__main .logo {
  color: #57c5a0;
  font-family: Aller;
  font-size: 26px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: -0.65px; }

.user-panel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.search {
  position: relative;
  height: 100%;
  margin-left: 2px;
  font-family: 'Myriad Pro';
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.2px; }
  .search__input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 20px;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    width: 100px;
    background-color: transparent;
    border: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    color: #b1aeae;
    text-transform: uppercase;
    outline: none;
    letter-spacing: 1.2px;
    border-left: solid 1px #7e7e7e;
    -webkit-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear; }
  .search__input-active {
    visibility: visible;
    opacity: 1;
    width: 172px; }
  .search__button {
    cursor: pointer; }
  .search__icon {
    display: block;
    position: absolute;
    font-size: 23px !important;
    top: 12px;
    right: 10px;
    color: #b1aeae;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg); }

.ui-menu {
  list-style-type: none;
  display: block;
  position: absolute;
  width: 172px;
  background-color: #4c4c4c;
  padding: 0;
  z-index: 100;
  margin: 0;
  color: #b1aeae; }

.ui-menu-item {
  list-style-type: none;
  padding: 9px 0 9px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #b1aeae;
  font-family: 'Myriad Pro';
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  border-bottom: solid 1px #aaaaaa;
  outline: none !important; }
  .ui-menu-item:last-child {
    border-bottom: none; }

.ui-state-active {
  background: transparent !important;
  border: none !important;
  outline: none !important; }

.login-register__button {
  text-align: center;
  height: 100%;
  width: 152px;
  border-left: solid 1px #7e7e7e;
  border-right: solid 1px #7e7e7e;
  cursor: pointer; }

.login-register__link {
  display: block;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px 0;
  text-decoration: none;
  color: #7e7e7e;
  font-family: Aller;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase; }

.menu {
  height: 60px;
  background-color: white; }

.menu__main {
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.nav {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.nav__item {
  height: 100%; }

.nav__link {
  -webkit-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
  padding: 20px 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  height: 100%;
  text-decoration: none;
  border-right: solid 1px #eeeeee;
  color: #242424;
  font-family: Aller;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px; }

@media (max-width: 960px) {
  .nav__link {
    padding: 20px 21px; } }

.nav__item:hover .nav__link {
  color: #57c5a0; }

.nav__link:first-child {
  border-left: solid 1px #eeeeee; }

.counters {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px; }
  .counters__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    padding: 20px 24px;
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-right: solid 1px #eeeeee; }
    .counters__item:first-child {
      border-left: solid 1px #eeeeee; }
  .counters__icon {
    color: #6e6e6e;
    vertical-align: middle;
    font-size: 20px !important; }

@media (max-width: 960px) {
  .counters__item {
    padding: 20px 21px; } }

.counter {
  vertical-align: middle;
  display: inline-block;
  width: 23px;
  height: 23px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  text-align: center;
  background-color: #adadad;
  -webkit-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
  cursor: pointer; }
  .counter:hover {
    background-color: #57c5a0; }

.counter__number {
  display: inline-block;
  padding: 5px 0;
  color: #ffffff;
  font-family: Aller;
  font-size: 12px;
  font-weight: 700; }

.banner__slider {
  width: 100%;
  height: 460px; }

.slide {
  width: 100%;
  position: relative;
  height: 100%;
  background: url(../img/banner-1.png) no-repeat center top;
  -webkit-background-size: cover;
          background-size: cover; }

.slide__wrapper {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.space {
  width: 50%; }

.slide__content {
  width: 50%; }

.price {
  width: 70px;
  height: 70px;
  background-color: #57c5a0;
  text-align: center;
  display: table-cell;
  padding: 25px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .price span {
    height: 100%;
    color: #ffffff;
    font-family: Aller;
    font-size: 13px;
    font-weight: 700;
    line-height: 25px; }

.slide__title {
  color: #242424;
  font-family: Aller;
  font-size: 40px;
  font-weight: 300;
  line-height: 40px; }

.slide__text {
  color: #242424;
  font-family: Aller;
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
  width: 384px; }

.slide__icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px; }

.slide__icon {
  width: 43px;
  height: 44px;
  background-color: #ffffff;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: 0 1px;
  cursor: pointer; }

.slide__icon:first-child {
  margin-left: 0; }

.slide__icon:last-child {
  margin-right: 0; }

.slide__icon .la {
  cursor: pointer;
  font-size: 18px;
  color: #6e6e6e;
  -webkit-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear; }

.slide__icon .la:hover {
  color: #57c5a0; }

.banner__bottom {
  width: 100%;
  height: 93px;
  background-color: #2e2e2e; }

.banner__dots {
  width: 572px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto; }

.banner__dot {
  margin-top: 5px;
  width: 33.333333333333%;
  text-align: center;
  cursor: pointer;
  list-style: none;
  outline: none; }

.banner__dot:first-child .banner__line {
  padding: 1px 3px 1px 10px; }

.banner__dot:last-child .banner__line {
  padding: 1px 10px 1px 3px; }

.banner__line {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1px 3px;
  border: none;
  outline: none;
  cursor: pointer; }

.banner__inline {
  width: 100%;
  height: 100%;
  display: none;
  cursor: pointer;
  background-color: #57c5a0; }

.banner__line:first-child {
  border-right: solid 1px #2e2e2e; }

.banner__line:last-child {
  border-left: solid 1px #2e2e2e; }

.banner__title {
  color: #ffffff;
  font-family: Aller;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.45px;
  margin-top: 15px;
  opacity: 0.5; }

.banner__text {
  opacity: 0.5;
  color: #adadad;
  font-family: Aller;
  font-size: 12px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.3px; }

.slick-track, .slick-list {
  height: 100%; }

.slick-active .banner__line .banner__inline {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #57c5a0; }

.slick-active .banner__text, .slick-active .banner__title {
  opacity: 1; }

/*UNDERSLIDER*/
.banner__underline {
  width: 100%;
  height: 233px;
  background-color: #242424; }

.underline__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.proposal-card {
  position: relative;
  display: block;
  width: 303px;
  height: 183px;
  text-decoration: none; }
  .proposal-card__image {
    position: absolute;
    width: 100%;
    height: 100%; }
  .proposal-card__title {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .proposal-card h3 {
    color: #ffffff;
    font-family: Aller;
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: rgba(36, 36, 36, 0.7);
    padding: 15px 26px; }

/**SHOES CARDS**/
.products {
  margin-bottom: 46px; }
  .products__top-line {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .products__title {
    font-size: 25pt;
    color: #242424;
    font-family: Aller; }
  .products__button {
    width: 100px;
    font-family: Aller;
    height: 30px;
    border: solid 1px #ccc;
    background-color: transparent;
    color: #bcb5a7;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }

.product__line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.product__card {
  position: relative;
  width: 300px;
  height: 270px;
  background-color: white; }

.product__image {
  text-align: center;
  height: 220px; }

.product__bottom {
  position: relative;
  height: 50px;
  border-top: solid 1px #ccc; }

.product__name {
  text-align: center;
  font-family: Aller;
  font-size: 18px;
  padding: 15px 0 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  color: #242424; }

.product__price {
  position: absolute;
  bottom: 0;
  left: 12px; }

.product__ad {
  position: absolute;
  top: 0;
  right: 12px;
  width: 68px;
  height: 67px;
  font-family: Aller;
  font-size: 13px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 25px 0; }

.product__ad-black {
  background-color: #242424; }

.product__ad-orange {
  background-color: #f27e4b;
  padding: 18px 0; }

/**FREE SHIPPING AND BLOG NEWS**/
.bottom-box {
  margin-bottom: 23px; }
  .bottom-box__wrapper {
    padding-top: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-top: solid 1px #bcb5a7;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .bottom-box__card {
    width: 223px;
    height: 188px;
    background-color: #dfdbd4;
    padding: 33px 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .bottom-box__title {
    color: #242424;
    font-family: Aller;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    height: 28px; }
  .bottom-box__text {
    color: #242424;
    font-family: Aller;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    padding: 0;
    margin: 0; }

.quote__button {
  text-decoration: none;
  color: #242424;
  font-family: Aller;
  font-size: 12px;
  display: inline; }

.quote__name {
  font-family: Aller;
  font-style: italic;
  line-height: 16px;
  display: block; }

.blog-news {
  width: 462px;
  height: 188px; }
  .blog-news__list {
    padding: 0;
    margin: 0; }
  .blog-news__item {
    list-style-type: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 15px; }
  .blog-news__date {
    width: 39px;
    height: 38px;
    background-color: #57c5a0;
    color: #ffffff;
    font-family: Aller;
    font-size: 13px;
    font-weight: 700;
    line-height: 12px;
    text-transform: uppercase;
    text-align: center;
    padding: 8px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .blog-news__link {
    text-decoration: none; }
  .blog-news__title {
    margin: 0;
    color: #242424;
    font-family: Aller;
    font-weight: 700;
    line-height: 16px; }
  .blog-news__text {
    margin: 0;
    color: #242424;
    font-family: Aller;
    font-size: 12px;
    font-weight: 400; }

.flickr-widget {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .flickr-widget__item {
    width: 76px;
    height: 56px;
    margin-bottom: 15px; }
    .flickr-widget__item img {
      width: 100%;
      height: 100%; }

.footer {
  width: 100%; }
  .footer__main {
    height: 368px;
    background-color: #242424;
    padding-top: 45px; }
  .footer__bottom {
    height: 91px;
    background-color: #2e2e2e; }

.footer-main__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: solid 1px #1c1c1c; }

.footer-main__item {
  width: 251px; }

.footer-main__title {
  color: #7d7d7d;
  font-family: Aller;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  height: 30px; }

.footer-main__text {
  margin: 0;
  color: #a4a4a4;
  font-family: Aller;
  font-size: 12px;
  font-style: italic;
  line-height: 18px; }

.footer-main__bottom {
  padding-top: 49px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.subscribe__field {
  width: 253px;
  height: 40px;
  background-color: #2e2e2e;
  outline: none;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 15px; }
  .subscribe__field[placeholder] {
    color: #7d7d7d;
    font-family: Aller;
    font-size: 12px;
    font-style: italic; }

.subscribe__button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: #7d7d7d;
  outline: none;
  border: none;
  margin-left: -3px; }

.twitter-widget {
  padding: 0; }
  .twitter-widget__item {
    margin-bottom: 17px;
    list-style-type: none; }
  .twitter-widget__link {
    text-decoration: none;
    color: #a4a4a4;
    font-family: Aller;
    font-size: 12px;
    font-style: italic;
    line-height: 18px; }
    .twitter-widget__link span {
      color: #57c5a0; }
  .twitter-widget__date {
    color: #c4c5bf;
    font-family: Aller;
    font-size: 12px;
    font-style: italic;
    line-height: 18px;
    padding-top: 15px; }

.social-media {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .social-media__icon {
    width: 40px;
    height: 40px;
    background-color: #2e2e2e;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    margin: 0 4px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
    padding-top: 7px; }
    .social-media__icon:first-child {
      margin-left: 0; }
    .social-media__icon > .fa {
      color: #7d7d7d;
      font-size: 27px; }
  .social-media .icon__flickr {
    width: 40px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    height: 40px;
    background-color: #7d7d7d;
    position: relative;
    margin-left: 4px; }
    .social-media .icon__flickr > .fa-flickr {
      color: #2e2e2e;
      font-size: 50px;
      position: absolute;
      display: block;
      top: -5px;
      left: -1px; }

.footer-bottom {
  padding: 30px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .footer-bottom__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer-bottom__copyright {
    opacity: 0.5;
    color: #ffffff;
    font-family: Aller;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px; }
  .footer-bottom__link {
    text-decoration: none;
    opacity: 0.5;
    color: #ffffff;
    font-family: Aller;
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.3px; }
