@media (min-width: 960px)
  .nav__link
    padding: 20px 21px
  .nav__item:hover .nav__link
    color: #57c5a0
  .nav__link:first-child
    border-left: solid 1px #eeeeee
@media (max-width: 768px)
  .nav
    display: none
  .menu-mobile
    display: flex
@media (max-width: 960px)
  .counters__item
    padding: 20px 21px