@media (min-width: 960px)
  .nav__link
    padding: 20px 21px
  .nav__item:hover .nav__link
    color: #57c5a0
  .nav__link:first-child
    border-left: solid 1px #eeeeee
@media (max-width: 768px)
  .wrapper
    padding: 0 30px
  .nav
    display: none
  .menu-mobile
    display: flex
  .counters
    display: none
  .underline__wrapper
    flex-wrap: wrap
    max-width: 400px
  .proposal-card
    width: 100%
    margin: 20px 0
    flex-grow: 1
  .products
    &__wrapper
      max-width: 400px
  .product
    &__line
      flex-wrap: wrap
    &__card
      flex-grow: 1
      margin: 10px 0


